body{
    background:linear-gradient(to right, rgb(173, 173, 222),rgb(70, 70, 142),rgb(43, 43, 117),rgb(103, 103, 236));
}
.container h1{
    font-size: 36px;
    text-align: center;
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    height: 200px;
    background: linear-gradient(to left, rgb(112, 170, 112),rgb(80, 176, 80), rgb(34, 117, 34), rgb(119, 197, 119));
}

.container .input-control{
    width: 100%;
    height: 50;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}
.input-control input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    border: 2px solid white;
    
    border-radius: 40px;
}
.btn{
    width: 100px;
    height: 20px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    
    font-size: 16px;
    font-weight: 600;

}